h3 {
  font-size: calc(1.31rem + .81vw);
}
@media only screen and (min-width: 1536px) {
  h3 {
    font-size: 1.4rem;
  }
  section.homehead .page-heading {
    padding: 5rem 0;
    h1 {
      font-size: 4rem;
      margin-top: 80px;
    }
  }
  section.homehead .page-heading .subheading {
    font-size: 2rem;
  }
  section.masthead {
    padding: 3rem 0;
  }
}
section.homehead .overlay {
  height: 30vh;
}
.carousel .carousel-inner img {
  height: 30vh;
}
@media only screen and (min-width: 990px) {
  section.homehead .page-heading .subheading {
    font-size: 1.3rem;
  }
  section.masthead .page-heading .subheading {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 990px) {
  h1 {
    font-size: 1.7rem;
  }
}
.nlogo {
  display: inline-block;

  width: 45px;
  height: 30px;

  background-image: url("/assets/images/nocc_icon.svg");
  background-repeat: no-repeat;
  background-size: 30px auto;
}
.card-start {
  position: relative;
  border: 1px solid var(--bs-border-color-base);
  border-radius: 1em;
  background-color: var(--bs-form-invalid-color);
  opacity: .8;

  &:hover {
    cursor: pointer;
    border-color: var(--bs-primary-color);
    border-width: 2px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.35);
  }

  small {
    color: #fff;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.card-end {
  position: relative;
  border: 1px solid var(--bs-border-color-base);
  border-radius: 1em;
  background-color: var(--bs-secondary-color);
  opacity: .8;
  
  &:hover {
    cursor: pointer;
    border-color: var(--bs-primary-color);
    border-width: 2px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.35);
  }

  small {
    color: #fff;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.npm-logo {
  display: inline-block;

  width: 26px;
  height: 24px;
  margin-right: 10px;

  background-image: url("/assets/images/npm-logo.svg");
  background-repeat: no-repeat;
  background-size: 26px auto;
}

.jekyll-logo {
  display: inline-block;

  width: 26px;
  height: 27px;
  margin-right: 5px;

  background-image: url("/assets/images/jekyll-logo.svg");
  background-repeat: no-repeat;
  background-size: 28px auto;
}

.download-icon {
  display: inline-block;

  width: 26px;
  height: 24px;
  margin-right: 10px;

  background-image: url("/assets/images/download.svg");
  background-repeat: no-repeat;
  background-size: 26px auto;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}